# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# WebStorm-specific files
.idea/

# Build output
dist/
build/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp

# Debug files
*.lock

# System files
*.bak
*.orig
.vercel

# test files
.rest
